.about {
  position: relative;
  background: #F7F7F7;
  padding: 4rem 0;
  //&:before {
  //  display: none;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 43%;
  //  height: 100%;
  //  content: '';
  //  background: url(../../img/about-bg.jpg) center center no-repeat/cover;
  //}
    &-centering{
        display: flex;
        justify-content: center;
    }
  &-caption {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
    &-block-text{
        max-width: 628px;
        @media (max-width: 442px) {
            padding: 0 10px;
            text-align: center;
        }
    }
  &-text {
      font-size: 28px;
      line-height: 147%;
      letter-spacing: 0.0025em;
      color: #000;
  }
  &-director {
    padding: 80px 0;
  }
}
@media (min-width: 992px) {
  .about {
    padding: 155px 0;
    &:before {
      display: block;
    }
    &-director {
      padding-top: 230px;
      padding-bottom: 280px;
    }
    &-caption {
      font-size: 2rem;
    }
    &-text {
        letter-spacing: 0.02rem;
        font-weight: 500;
        line-height: 1.8;
    }
  }
}
@media (max-width: 420px) {
    .about-text{
        font-size: 18px;
    }
}
