.work {
  &-content {
    margin-top: -60px;
    margin-bottom: 5rem;
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 60px;
    padding: 60px 30px 30px;
    min-height: 190px;
    border: 1px solid #D6D6D6;
    border-radius: $border-radius;
  }

  &-number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 72px;
    height: 72px;
    background: $secondary-color;
    border-radius: 50%;

    &:before {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 64px;
      height: 64px;
      border: 1px solid #fff;
      border-radius: 50%;
      content: '';
    }

    span {
      color: #fff;
      font-size: 1.5rem;
    }
  }

  &-info {
    line-height: 33px;
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .work {
    &-content {
      margin-top: -20px;
    }

    &-item {
      margin-top: 20px;
      padding: 30px 30px 30px 60px;

      &:after {
        position: absolute;
        width: 1px;
        height: 100%;
        background: $secondary-color;
        left: -52px;
        content: '';
      }

      &:first-child {
        &:after {
          top: 50%;
        }
      }

      &:nth-child(2) {
        &:after {
          top: 0;
        }
      }

      &:last-child {
        &:after {
          bottom: 50%;
        }
      }
    }

    &-number {
      top: 50%;
      left: 0;

      &:after {
        position: absolute;
        width: 16px;
        height: 1px;
        background: $secondary-color;
        top: 50%;
        left: -16px;
        content: '';
      }
    }
  }
}
