.footer {
  padding: 72px 100px;
  background: #000000;
    color: #ffffff;

    &-first-block {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-main {
            margin-bottom: 100px;
            @media (max-width: 442px) {
                margin-bottom: 20px;
            }
        }
        &-rights {
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.0025em;
            color: #727272;
        }
        &-header {
            font-size: 34px;
            line-height: 147%;
            letter-spacing: 0.0025em;
        }
        &-annotation {
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.0025em;
        }
    }
    &-second-block {
        width: 20%;
    }
    &-third-block {
        width: 20%;
    }
    &-list {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.0025em;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: baseline;
}
@media (max-width: 442px) {
    .footer {
        padding: 10px 20px;
        &-first-block {
            width: 100%;
            margin-bottom: 20px;
        }
        &-second-block {
            width: 100%;
            margin-bottom: 20px;
        }
        &-third-block {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}
